<!DOCTYPE html>{% load static %}
<html lang="en">{% load i18n %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ranjalahy Andry Tahiana Sylvain's PortFolio">

    <link rel="stylesheet"
      target="_blank" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap">
    <link rel="stylesheet" target="_blank" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" target="_blank" href="{% static './assets/images/logo-icons8.png' %}" type="image/x-icon">
    <title>{% translate "Good VIBES - Landing HERE." %}</title> 

    <!-- Bootstrap core CSS -->
    <link target="_blank" href="{% static './vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" target="_blank" href="{% static './assets/css/fontawesome.css' %}">
    <link rel="stylesheet" target="_blank" href="{% static './assets/css/templatemo-tale-seo-agency.css' %}">
    <link rel="stylesheet" target="_blank" href="{% static './assets/css/owl.css' %}">
    <link rel="stylesheet" target="_blank" href="{% static './assets/css/animate.css' %}">
    <link rel="stylesheet"target="_blank" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <link rel="stylesheet" target="_blank" href="{% static './assets/css/better.css' %}">
    <link rel="stylesheet" target="_blank" href="{% static './assets/css/mobile.css' %}">
    <!--
    
      mtp:/Honor%207C/M%C3%A9moire%20de%20stockage%20interne/snaptube/download/SnapTube%20Audio/Elton%20John_%20Dua%20Lipa%20-%20Cold%20Heart%20(PNAU%20Remix)%20(Official%20Video)(MP3_160K).mp3TemplateMo 582 Tale SEO Agency
      https://templatemo.com/tm-582-tale-seo-agency

    -->
  </head>
<body>
  <div id="js-preloader" class="js-preloader">
    <audio autoplay src="{% static './assets/song/Elton John_ Britney Spears - Hold Me Closer (Lyric Video)(M4A_128K).m4a' %}"></audio>
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="pre-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-9">
          <div class="left-info">
            <ul>
              <li><a target="_blank" href="tel:+2610324944018"><i class="fa fa-phone"></i>+261 032 49 440 18</a></li>
              <li><a target="_blank" href="mailto:ranjalahyandrytahianasylvain@gmail.com">
                <i class="fa fa-envelope"></i>ranjalahyandrytahianasylvain@gmail.com
              </a></li>
              <li><a target="_blank" href=""><i class="fa fa-map-marker"></i>Alasora Tana-III</a></li> 
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-3">
          <div class="social-icons">
            <ul>
              <li><a target="_blank" href="https://facbook.com/"><i class="fab fa-facebook" title="Andry Tahiana"></i></a></li>
              <li><a target="_blank" href="https://github.com/TahianSylvain/"><i class="fab fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/tahiansylvain-andry-a27534283/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="header-area header-sticky" id="_tete_">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a target="_blank" id="logo-icons8" href="{% url 'landing' %}" class="logo">
                        <img src="{% static './assets/images/logo-icons8.png' %}" alt="" style="max-width: 66px;">
                    </a>
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a target="_blank" href="#top" class="active">{% translate "Home" %}</a></li>
                      <li class="scroll-to-section"><a target="_blank" href="#services">{% translate "Services" %}</a></li>
                      <li class="scroll-to-section"><a target="_blank" href="#projects">{% translate "Projects" %}</a></li>
                      <li class="scroll-to-section">
                        {% for post in file %}
                          <a target="_blank" href="{{post.zip.url}}"
                             download="{{post.zip.url}}"
                          >Curriculum</a>
                        {% endfor %}
                      </li>
                      <li class="has-sub">
                          <a target="_blank" href="javascript:void(0)">lang</a>
                          <ul class="sub-menu">
                              <li><a target="_blank" href="../../">{% translate "english" %}</a></li>
                              <li><a target="_blank" href="../fr">{% translate "français" %}</a></li>
                          </ul>
                      </li>
                      <li class="scroll-to-section"><a target="_blank" href="#infos">Infos</a></li>
                      <li class="scroll-to-section"><a target="_blank" href="#contact">{% translate "Contact" %}</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>{% translate "Menu" %}</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">      
      <div class="row">
        <div class="col-lg-7">
          <div class="caption header-text">
            <h6>{% translate "Reactivist CODER" %}</h6><!-- <h6>SEO DIGITAL AGENCY</h6> -->
            <div class="line-dec"></div>
            
            <h4>{% translate "Dive" %} <em>{% translate "Into my Vibes" %}</em> @ <span>TahianSylvain
              <!-- With Tale --></span>
            </h4> 
            <div class="cellular">
              <img id="imagine" src="{% static './assets/images/andry.webp' %}" >
              <p> 
                {% translate "I am a junior software ingeneer, with my certified in React and Python formation at FreeCodeCamp.I will assure offering sensational and impressive modelisation for real time Digital Developpement. Supported by " %}
                <a target="_blank" href="https://ispm-edu.mg/" target="_blank">{% translate "ISPM University" %}</a>,
                <a target="_blank" href="https://www.freecodecamp.org/">freeCodeCamp
                </a>, and <a target="_blank" target="_blank" href="https://www.orangedigitalcenters.com/country/">ODC redland</a> 
              </p>
            </div>
               <div class="main-button scroll-to-section"><a target="_blank" href="#services">{% translate "Discover More" %}</a></div>
            <span>or</span>
            <div class="second-button"><a target="_blank" href="">{% translate "Check our WORKS" %}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h2>{% translate "Provide" %} <em>{% translate "Different Services" %}</em>
                  <span>{% translate "Features" %}</span> {% translate "For Your Agency" %}</h2>
                  <div class="line-dec"></div>
                  <p>{% translate "I'd be very happy to coolaborate with you, contribution to perform" %}</p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static './assets/images/services-01.jpg' %}" alt="discover SEO" class="templatemo-feature">
                </div>
                <h4>{% translate "Discover More on Latest Bit-coin" %}</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static './assets/images/services-02.jpg' %}" alt="data analysis" class="templatemo-feature">
                </div>
                <h4>{% translate "Gray hat whistler, Bug&Flaws hunter" %}</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static './assets/images/services-03.jpg' %}" alt="precise data" class="templatemo-feature">
                </div>
                <h4>{% translate "Data Analysis" %} &amp; {% translate "Prediction" %}</h4>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="{% static './assets/images/services-04.jpg' %}" alt="SEO marketing" class="templatemo-feature">
                </div>
                <h4>{% translate "Real-Time Big Data Processing" %}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projects section" id="projects">
    <div class="container" id="consis">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>{% translate "Check" %} <em>{% translate "Comments" %}</em> {% translate "from" %} <span>
              {% translate "Travelers" %}</span></h2>
            <div class="line-dec"></div>
            <p>{% translate "They may tell about my bad or good, but only yours matter" %}</p>
          </div>
        </div>
      </div> 
    </div>
    <div class="container-fluid" id="voilà">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel">
            {% for surf in surfs %}
              <div class="item">
                <div class="down-content">
                  <h4>
                    {{ surf.owner }}: {{ surf.subject }}
                    <a target="_blank" href="mailto:{{surf.owner.email}}">{{ surf.rating }}<i class="fa fa-star checked"></i></a>
                  </h4>
                  <p>{{ surf.mess }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="infos section" id="infos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="left-image">
                  <img src="{% static './assets/images/Lvlind.png' %}" height="393px" alt="">
                  <img src="{% static './assets/images/LvlindFooter.png' %}" height="393px" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="section-heading">
                  <h2>{% translate "More" %} <em>{% translate "About Me" %}</em> &amp; {% translate "my" %} <span>
                    {% translate "Project achievements" %}</span>
                  </h2>
                  <div class="line-dec"></div>
                  <p>{% translate "Here, You can check all my expertize in technology for web development and I could appreciate you leave a comment and rate about the quality of my portfolio webpage with the help of TemplateMo in design side." %}
                  </p>
                </div>
                <div class="skills">
                  <div class="skill-slide marketing">
                    <div class="fill" style="width:90%"></div>
                    <h6>Python</h6>
                    <span>90%</span>
                  </div>
                  <div class="skill-slide digital">
                    <div class="fill" style="width:65%"></div>
                    <h6>React</h6>
                    <span>65%</span>
                  </div>
                  <div class="skill-slide media">
                    <div class="fill" style="width:85%"></div>
                    <h6>Security Linux</h6>
                    <span>85%</span>
                  </div>
                </div>
                <p class="more-info">{% translate "As you can see, I am a fullstack web coder available for freelance and Bug-Hunting (white hat) if you contact me through the mail I gave you upward. Thank you." %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-us-content">
            <div class="row">
              <div class="col-lg-4">
                <div id="map">
                  <iframe src="https://python.org/" width="100% " height="670px" frameborder="0"
                          style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="col-lg-8">
                <form id="contact-form" action="#voilà" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-heading">
                        <h2><em>{% translate "Contact Us" %}</em> &amp; {% translate "Get In" %} <span>{% translate "Touch" %}</span></h2>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="{% translate 'Your Name...' %}" autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="subject" name="subject" id="subject" placeholder="{% translate 'Subject...' %}" autocomplete="on" >
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset> 
                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" 
                          placeholder="{% translate 'Your E-mail...' %}"required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                      <span id="star-rating">
                          <i class="fa fa-star checked" data-rating="1"></i>
                          <i class="fa fa-star" data-rating="2"></i>
                          <i class="fa fa-star" data-rating="3"></i>
                          <i class="fa fa-star" data-rating="4"></i>
                          <i class="fa fa-star" data-rating="5"></i>
                      </span>
                      <input type="number" id="ratingInput" name="ratingInput" style="display:none">
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" id="message" placeholder="{% translate 'Your Message' %}"></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="orange-button">{% translate "Send Message Now" %}</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-item">
                        <i class="fa fa-phone"></i>
                        <h4><a target="_blank" href="tel:+261 032 49 440 18">+261 032 49 440 18</a></h4>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-item">
                        <i class="fa fa-envelope"></i>
                        <!-- <h4><a target="_blank" href="mailto:ranjalahyandrytahianasylvain@gmail.com">info@company.com</a></h4> -->
                        <h4><a target="_blank" href="mailto:ranjalahyandrytahianasylvain@gmail.com">info@company.com</a></h4>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-item">
                        <i class="fa fa-map-marker"></i>
                        <!-- <a target="_blank" href="#">Sunny Isles Beach, FL 33160, United States</a> -->
                        <h4><a target="_blank" href="https://map.google.com/?Alasora Tana-III" target="_blank" rel="noopener noreferrer">Madagascar Island</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2036 <a target="_blank" href="https://pythonanywhere.com/">Python AnyWhere Hoster</a>. All rights reserved. 
        
        <br>Design: <a target="_blank" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static './vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static './vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static './assets/js/isotope.min.js' %}"></script>
  <script src="{% static './assets/js/owl-carousel.js' %}"></script>
  <script src="{% static './assets/js/tabs.js' %}"></script>
  <script src="{% static './assets/js/popup.js' %}"></script>
  <script src="{% static './assets/js/custom.js' %}"></script>
  

  </body>

</html>
